html {
    background-color: #1b1817;
    height: auto;
    background-image: linear-gradient(#0a0a0a, #4e2e8a9a, #0a0a0a);
    font-family: Cursive;
}

h1 {
    width: 300px;
    margin-left: 42%;
    color: #6f38ef;
    background-color: #1b1817;
    border-left: solid;
    border-right: solid;
    border-color: #6f40db;
    font-size: 36px;
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(116, 91, 124, 0.247);
  }

.p1 {
    margin-right: auto;
    width: 700px;
    color: #8c00ff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 7px;
    font-weight: bold;
}

.p2 {
    margin-right: auto;
    width: 700px;
    color: #a335fd;
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.images {
    width: 300px;
    height: 300px;
    margin-top: 0px;
}